
{% block blast_tinymce_widget %}
    {% spaceless %}
        <textarea class="tinymce form-control" id="{{ id }}" name="{{ full_name }}" data-theme="advanced">{{ value }}</textarea>    
    {% endspaceless%}
{% endblock %}

{% block blast_custom_choice_widget %}
    {% spaceless %}
        {{ block('choice_widget') }}
        {% if is_filter == false %}
            <a id="{{ id }}_add_choice" class="add-choice editable editable-click inline-input" href="#"><i class="fa fa-plus-circle"></i></a>
            {% block customchoice_script %}
                {% include 'BlastUtilsBundle:Script:custom_choice_script.js.twig' %}
            {% endblock %}
        {% endif %}
    {% endspaceless %}
{% endblock %}

{% block blast_unique_field_widget %}
    {% set attr = attr|merge({
        'class'             : attr.class|default('') ~ ' auto-check-input',
        'data-class'        : sonata_admin.admin.class,
        'data-field'        : sonata_admin.name,
        'data-url'          : path('blast_utils.unique_field.check_availability'),
        'data-error-message': 'already exists'|trans() 
    }) %}
    
    {{ block('form_widget') }}
    
    <script type="text/javascript">
        $(document).ready(function(){
            
            $('.auto-check-input')
                .focus(function(){
                    $(this).closest('.form-group').removeClass('has-error');
                    $(this).siblings('.help-block').remove();
                })
                .change(function(){

                    var input = $(this);
                    var value = input.val();
                    var fieldName = input.data('field');

                    if( value != '' )
                        $.post(
                            $(this).data('url'),
                            {
                                'className' : $(this).data('class'),
                                'fieldName' : fieldName,
                                'fieldValue': value
                            },
                            function(response){
                                if( !response )
                                {
                                    input.closest('.form-group').addClass('has-error');

                                    $('<div class="help-block sonata-ba-field-error-messages"></div>')
                                        .html('<i class="fa fa-exclamation-circle" aria-hidden="true"></i> ' + value  + ' ' + input.data('error-message'))
                                        .appendTo(input.closest('.sonata-ba-field'))
                                    ;
                                }
                            }
                        );
                });
        });
    </script>
{% endblock %}